// Reset CSS inherited from the parent CMS/admin theme to create a unified base. 
*, *::before, *::after { box-sizing: border-box; }

// D9 Claro - ul {margin: 0.25em 0 0.25em 1.5em;} 
ul {margin: 0;}

// D9 Claro - .page-wrapper :focus, .ui-dialog :focus {
//  outline: 2px dotted transparent;
//  box-shadow: 0 0 0 2px #fff,0 0 0 5px #26a769; }
:focus, .ui-dialog :focus {outline: none, box-shadow: none}
